// //*----------------------------- from bootstrap carousel ------------------*//
@include media-breakpoint-up(xxl) {
  .carousel-icon{
    left: 166px !important;
    right: 0 !important;
  }
}

@include media-breakpoint-up(xl) {
  .carousel-icon{
    left: 126px !important;
    right: 0 !important;
  }
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 4.2rem;
  left: 5%;
  padding-top: 1.25rem;
  padding-bottom: 4rem;
  color: #fff;
  text-align: center;
}

.carousel-indicators.custom-indicators{
  margin-left: 5%;
  margin-bottom: .3rem;
}

.carousel-indicators {
  // position: static;
  // justify-content: start;
  margin:  0;


  .active {
    opacity: $carousel-indicator-active-opacity;
    border-radius: 0;
  }
}



.bg-carousel-soft-primary{
  background: linear-gradient(rgba(34, 87, 191, 0.25));
  width:192px;
  height:443px;
  margin-left: 42px;
}