append variables
  -
    var blogs= [
      {
        image:'john.png',
        category:`Art`,
        date:'23 Nov 2021',
        title:'The limits between art and craft',
      },
      {
        image:'albrecht.png',
        category:`Info.Tech`,
        date:'24 Nov 2021',
        title:'8 guidelines for art lovers',
      },
      {
        image:'peter.png',
        category:`Mathmatics`,
        date:'25 Nov 2021',
        title:'The Importance of Statistic',
      },
      {
        image:'david.png',
        category: `Design`,
        date:'26 Nov 2021',
        title:'The Fundamentals of Color Theory',
      },
      {
        image:'david.png',
        category: `Art`,
        date:'27 Nov 2021',
        title:'Excellent short tale writing tips',
      },
      {
        image:'john.png',
        category: `Education`,
        date:'28 Nov 2021',
        title:'Make your Classroom a Community',
      },
      {
        image:'john.png',
        category: `Art`,
        date:'29 Nov 2021',
        title:'Five Turner chosen art collectives',
      },
      {
        image:'john.png',
        category: `Art`,
        date:'30 Nov 2021',
        title:'The artistic highlights of the week',
      },
      
    ];