append variables
  -
    var instructors= [
      {

        image:'john.png',
        name:`John S. <br> Sergent`,
        designation:'Head of Data Science',
      },
      {
        image:'john.png',
        name:`Albrecht <br> Kachher`,
        designation:'Head of Data Science',
      },
      {
        image:'john.png',
        name:`Peter P. <br> Rubens`,
        designation:'Head of Data Science',
      },
      {
        image:'john.png',
        name: `David A. <br> Sequiros`,
        designation:'Head of Data Science',
      },
    ];