append variables
  -
    var instructor= [
      {

        image:'john.png',
        name:`John S. <br> Sergent`,
        designation:'Head of Data Science',
      },
      {
        image:'albrecht.png',
        name:`Albrecht <br> Kachher`,
        designation:'Developer and Lead Instructor',
      },
      {
        image:'peter.png',
        name:`Peter P. <br> Rubens`,
        designation:'Digital Marketing Expart',
      },
      {
        image:'david.png',
        name: `David A. <br> Sequiros`,
        designation:'Engineering Architect',
      },
      {
        image:'david.png',
        name: `David A. <br> Sequiros`,
        designation:'Head of Data Science',
      },
      //-  {
      //-   image:'john.png',
      //-   name: `David A. <br> Sequiros`,
      //-   designation:'Head of Data Science',
      //- },
      //-  {
      //-   image:'john.png',
      //-   name: `David A. <br> Sequiros`,
      //-   designation:'Head of Data Science',
      //- },
      //-  {
      //-   image:'john.png',
      //-   name: `David A. <br> Sequiros`,
      //-   designation:'Head of Data Science',
      //- },
      //-  {
      //-   image:'john.png',
      //-   name: `David A. <br> Sequiros`,
      //-   designation:'Head of Data Science',
      //- },
      //-  {
      //-   image:'john.png',
      //-   name: `David A. <br> Sequiros`,
      //-   designation:'Head of Data Science',
      //- },
      //-  {
      //-   image:'john.png',
      //-   name: `David A. <br> Sequiros`,
      //-   designation:'Head of Data Science',
      //- },
      //- {
      //-   image:'john.png',
      //-   name: `David A. <br> Sequiros`,
      //-   designation:'Head of Data Science',
      //- },
    ];

mixin Slider({image,name,designation})
  img(src=`${CWD}assets/img/gallery/${image}`  alt='').img-fluid
  h5.fw-normal.font-base.lh-base.text-black.mt-3 !{name}
  p.mb-0 !{designation}



mixin Instructors
  +Section
    .row 
      .col-12
        .swiper-container.theme-slider(data-swiper!={
          spaceBetween: 5,
          slideToClickedSlide: true,
          slidesPerView: 4,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
            bulletActiveClass:'bullet-active'
          },
        })
          .swiper-wrapper
            .swiper-slide
              +Slider(instructor[0]) 
            .swiper-slide
              +Slider(instructor[1]) 
            .swiper-slide
              +Slider(instructor[2]) 
            .swiper-slide
              +Slider(instructor[3])
            .swiper-slide
              +Slider(instructor[0]) 
            .swiper-slide
              +Slider(instructor[1]) 
            .swiper-slide
              +Slider(instructor[2]) 
            .swiper-slide
              +Slider(instructor[3])    
          .swiper-nav
            .swiper-button-next.swiper-button-white
            .swiper-button-prev.swiper-button-white
      .swiper-pagination         